# ---------------[ Unity generated ]------------------ #

Temp

obj

Library

 

# ----[ Visual Studio / MonoDevelop generated ]------- #

bin
obj
.vs


# -------------[ OS generated ]------------------------ #

.DS_Store

.DS_Store?

.Trashes
